.search_api_extended_filters_keys div.search_api_extended_filters_filter_container > div,
.search_api_extended_filters_filter div.search_api_extended_filters_filter_container > div {
  display: inline-block;
  margin-right: .5ex;
}

.search_api_extended_filters_filter select.search_api_extended_filters_add_filter {
  display: block;
}

.search_api_extended_filters_filter select.search_api_extended_filters_filter_conjunction[disabled] {
  visibility: hidden;
}

.search_api_extended_filters_filter_container .form-item label {
  display: none !important;
}
